body{
  height:100%;
  width:100%;
  margin:0 auto; 
  overflow-x:hidden;   
}

.paginas ul{


  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color:#f0f0f0;
  height:15%;
  border-bottom: 1.6px solid #fee000;
}

.paginas li{
  float:left;
}

.paginas li a{
  display: block;
  color:#2aa254;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family:'Roboto';
  font-weight: bold;
  
}
.dropbtn {
  background-color:transparent;
  color:#2aa254;
  font-family:'Roboto';
  padding: 14px 16px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
}  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display:none; 
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #9b9b9b}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #9b9b9b;
}

.paginas ul li a:hover{
  color: #fee000;
  background: #949493;
}
.imgg1 li{
  margin-left:15%;
margin-top:0.5%;
  
}

.inicio li{
  margin-top:2.2%;
  margin-left:10%
}

.oprojeto{
  margin-left:100px;
  text-align: left;
  font-family: 'Roboto';
  font-weight:none;
  color:#595a55;
  font-size: 20px;
}

.rectangle{
  height: 8px;
  width: 50px;
  margin-left:200px;
  background-color: #555;
  display: inline-block;
  margin-top:-20px;
}


#table1{
  width:80%;
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 30px;
  margin-left:10%;
  
}


  .title1{
  font-family:'Roboto';
  text-align:center;
  
 
}

.rectangle1{
  height: 8px;
  width: 50px;
  background-color: black;
 display:inline-block;
}

.img1{
  text-align:center;
}

.txt1{
  font-family:'Roboto';
 text-align: justify;
 margin:20px;
 
}

.title2{
  font-family:'Roboto';
  text-align:center;
  color:white;
 
}

.rectangle2{
  
  height: 8px;
  width: 50px;
  background-color: white;
  display:inline-block;
}

.img2{
  text-align:center;
}

.txt2{
  font-family:'Roboto';
 text-align: justify;
 margin:20px;
 color:white;
 margin-top:10%;
}

.title3{
  font-family:'Roboto';
  text-align:center;
  color:white;
 
}

.rectangle3{
  
  height: 8px;
  width: 50px;
  background-color: white;
  display:inline-block;
}

.img3{
  text-align:center;
}

.txt3{
  font-family:'Roboto';
 text-align: justify;
 margin:20px;
 color:white;
 
}

.title4{
  font-family:'Roboto';
  text-align:center;
    margin-top:-10%;
 
}

.rectangle4{

  height: 8px;
  width: 50px;
  background-color: black;
  display:inline-block;
}

.img4{
  text-align:center;
}

.txt4{
  font-family:'Roboto';
 text-align: justify;
 margin:20px;
 
}

.title5{
  font-family:'Roboto';
  text-align:center;
 
}

.rectangle5{
  
  height: 8px;
  width: 50px;
  background-color: black;
  display:inline-block;
}

.img5{
  text-align:center;
}

.txt5{
  font-family:'Roboto';
 text-align: justify;
 margin:20px;
 
}
.twitter{
  display:inline-block;

    
}

.imgepsrc{
    width:15%;
    margin-bottom:50px;
    padding:20px
}
.imgalant{
    width:15%;
    margin-bottom:50px;
    padding:20px
}
.imgatmos{
    width:15%;
    margin-bottom:50px;
    padding:20px
}

.imgutf{
    width:15%;
    margin-bottom:50px;
    padding:20px
}

.imgmanches{
    width:15%;
    margin-bottom:50px;
    padding:20px
}

.greenblock{
    margin-top:5%;
    background-color:#2aa254;
    height:150px;
    text-align: center;
    
    
}

@media screen and (max-width:768px){
  
  body{

    height:100%;
    width: 100%; 
    margin: auto;    
    overflow-x: hidden;
}
.paginas ul{

  width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color:#f0f0f0;
    height:15%;
    border-bottom: 1.6px solid #fee000;
    
}
.paginas li{
    float:left;
    width:100%;
    text-align:center;

 
}


.paginas li a{
    display: block;
    color:#2aa254;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 80%;
    font-family:'Roboto';
    font-weight: bold;
    background-color:#f0f0f0;
    border-spacing:0px;
  
}
.inicio{
  margin-left:-23%;
}  
.imgg1{
  margin-left:-45%;
  margin-top:-2%;
  background-color:#f0f0f0;
  
}


.dropbtn {
    background-color:transparent;
    color:#2aa254;
    font-family:'Roboto';
    padding: 14px 16px;
    font-weight: bold;
    font-size: 80%;
    border: none;
    cursor: pointer;
    background-color:#f0f0f0;
    width:100%;
   
}  
  .dropdown {
    position: relative;
    display: inline-block;
    width:100%;
   
  }
  
  .dropdown-content {
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
  }
  
  .dropdown-content a:hover {
    background-color: #9b9b9b;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
   
  }
  
  .dropdown:hover .dropbtn {
    background-color: transparent;
   
  }

  .paginas ul li a:hover{
    color: #fee000;
    background:transparent;
 
  }

  .oprojeto{
    margin-top:230px;
    margin-bottom:20px;
    margin-left:8%;
    text-align: left;
    font-family: 'Roboto';
    font-weight:none;
    color:#595a55;
    font-size: 60%;
}

.rectangle{
    height: 1%;
    width: 5%;
    margin-left:15%;
    background-color: #555;
    display: none;
    margin-top:-10px;
}

#table1{
  width:100%;
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 0px;
  margin-left:0%;
}


  .title1{
  font-family:'Roboto';
  text-align:center;
  font-size: 10px; 
 
}

.rectangle1{
  height: 0.8px;
  width: 5px;
  background-color: black;
 display:none
}

.img1{
  text-align:center;
height:40%;
width:40%;
margin-top:-30px;
}

.txt1{
  font-family:'Roboto';
 text-align: justify;
 margin:2px;
 font-size: 8px;
 
}

.title2{
  font-family:'Roboto';
  text-align:center;
  color:white;
  font-size:10px;
 
}

.rectangle2{
  
  height: 8px;
  width: 50px;
  background-color: white;
  display:none;
}

.img2{
  
  margin-top:-30px;
  text-align:center;
  height:50%;
  width:50%;
}

.txt2{
  font-family:'Roboto';
 text-align: justify;
 margin:2px;
 color:white;
 margin-top:10px;
 font-size:8px;
}

.title3{
  font-family:'Roboto';
  text-align:center;
  color:white;
  font-size:10px;
 
}

.rectangle3{
  
  height: 8px;
  width: 50px;
  background-color: white;
  display:none;
}

.img3{
  text-align:center;
  height:40%;
  width:40%;
  margin-top:-40px;
}

.txt3{
  font-family:'Roboto';
 text-align: justify;
 margin:2px;
 color:white;
 font-size:8px;
 
}

.title4{
  font-family:'Roboto';
  text-align:center;
    margin-top:-40px;
    font-size:10px;
 
}

.rectangle4{

  height: 8px;
  width: 50px;
  background-color: black;
  display:none;
}

.img4{
  text-align:center;
  width:40%;
  height:40%;
  margin-top:-40px;
}

.txt4{
  font-family:'Roboto';
 text-align: justify;
 margin:2px;
 font-size:8px;
 
}

.title5{
  font-family:'Roboto';
  text-align:center;
  font-size:10px;
  margin-top:-70px;

 
}

.rectangle5{
  
  height: 8px;
  width: 50px;
  background-color: black;
  display:none;
}

.img5{
  text-align:center;
  height:40%;
  width:40%;
}

.txt5{
  font-family:'Roboto';
 text-align: justify;
 margin:2px;
 font-size:8px;
 
}
.twitter{
  display: none;
}

.imgepsrc{
  width:15%;
  margin-top:10px;
  padding:0px
}
.imgalant{
  width:15%;
  margin-top:10px;
  padding:0px
}
.imgatmos{
  width:15%;
  margin-top:10px;
  padding:0px
}

.imgutf{
  width:15%;
  margin-top:10px;
  padding:0px
}

.imgmanches{
  width:15%;
  margin-top:10px;
  padding:0px
}


.greenblock{
  margin-top:0px;
  background-color:#2aa254;
  height:40px;
  text-align: center;
  
  
}
